---
import Layout from "../layouts/Index.astro";
---

<Layout title="Welcome to Triatlón.">
	<main>
		<section class="">
			<div
				class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
			>
				<div class="mx-auto max-w-3xl text-center">
					<h1
						class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
					>
						Aplicación de Triatlon

						<span class="sm:block"> La mejor que existe. </span>
					</h1>

					<p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
						Aproveche la oportunidad de crear un triatlon virtual
						personalizado con esta aplicación web. ¡Empieza a
						registrar tus participantes y ver el resultado!
					</p>

					<div class="mt-8 flex flex-wrap justify-center gap-4">
						<a
							class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-opacity-75 sm:w-auto transition"
							href="/app"
						>
							Registrar participantes ahora!
						</a>

						<a
							class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-blue-600 hover:text-white transition hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
							href="/app/results"
						>
							Ver resultados actuales
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
